.btn-comsa {
    background-color: #09b003;
    color: #ffffff;
    font-weight: bold;
}

.btn-comsa:hover{
    background-color: #007a00;
    color: #ffffff;
    font-weight: bold;
}

.comsa-text {
    color: #09b003;
}